.continent-container {
  display: flex;
  flex-direction: column;

  .continent-header {
    position: relative;
    font-size: 2rem;
    height: 25ch;

    img {
      width: 100%;
      height: 25ch;
      object-fit: cover;
    }

    .continent-headline {
      position: absolute;
      bottom: 15ch;
      left: 50%;
      transform: translateX(-50%);
      h1 {
        color: #fff;
        font-weight: bold;
        text-shadow: 3px 3px 3px #3b8c6e;
        text-transform: uppercase;
      }
    }
  }

  .continent-country-carousel-container {
    background-color: #3b8c6e;
    width: 100%;

    .continent-country-carousel {
      padding-block: 5vh;
      .single-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline: 2vw;

        .country-img {
          width: 20vw;
          max-width: 200px;
          aspect-ratio: 4 / 3;
          overflow: hidden;
          border-radius: 15px;
        }

        .country-title {
          color: white;
          font-size: 1.2rem;
        }
      }
    }
  }

  .continent-country-search-container{
    margin-bottom: 2rem;
    .continent-country-search-title{
      color: white;
    }
    form{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      input{
        padding: 0.8rem 0.5rem;
        border-radius: 5px;
        border: none;
      }
      button{
        padding: 0.8rem 1.5rem;
        border-radius: 5px;
        font-weight: bold;
        background-color: #89d99d;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }

  .continent-popular-tours-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;

    .popular-tours-title {
      font-size: 3rem;
      font-weight: 700;
      margin-block: 10vh;
    }

    .popular-tours {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5vw;
    }
  }
}
