.features-container {
  margin: 3rem 0;

  .current-features {
    .current-features-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 5vh;

      .feature-card {
        background-color: transparent;
        line-height: 1;
        width: 300px;
        min-width: 200px;
        height: 300px;
        padding-inline: 2vw;
        padding-block: 2vh;
        perspective: 1000px;

        .feature-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          border: 1px solid #1e5959;
          border-radius: 15px;
          transition: transform 0.8s;
          transform-style: preserve-3d;

          .feature-card-front-container,
          .feature-card-back-container {
            background-color: #c9e8d1;
            border-radius: 15px;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
          }

          .feature-card-front-container {
            .current-feature-icon {
              font-size: 10rem;
              color: #1e5959;
              padding-top: 5vh;
              display: block;
              margin: 0 auto 0;
            }

            span {
              font-size: 2.4rem;
              font-weight: 700;
              color: #1e5959;
              padding-bottom: 5vh;
            }
          }
          .feature-card-back-container {
            transform: rotateY(180deg);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            span {
              font-size: 1.2rem;
              margin: auto 0;
              line-height: 1.6rem;
              position: absolute;
              top: 50%;
              left: 1rem;
              right: 1rem;
              transform: translateY(-50%);
            }
          }
        }
      }
      .feature-card:hover .feature-card-inner {
        transform: rotateY(180deg);
      }
    }
  }

  .roadmap-features {
    margin-top: 3rem;
    .roadmap-features-container {
      display: flex;
      flex-direction: column;
      padding-block: 5vh;
      padding-inline: 2vw;

      .roadmap-header {
        padding-bottom: 5vh;
      }
      .roadmap-feature {
        padding-block: 2vh;

        .roadmap-feature-container {

          .roadmap-icon {
            align-self: center;
            font-size: 5rem;
            color: #1e5959;
            margin-bottom: 1rem;
          }
          .roadmap-description {
            padding: 2rem;
            width: 100%;
            background-color: #c9e8d1;
            border: 2px solid #1e5959;
            border-radius: 15px;
            text-align: left;

            .description-header {
              font-size: 1.5rem;
              font-weight: 700;
              display: block;
            }

            .description-text {
              font-size: 1rem;
              font-weight: 500;
            }
          }
          .roadmap-date {
            background-color: #c9e8d1;
            border: 2px solid #1e5959;
            border-radius: 50%;
            position: relative;
            width: 5rem;
            height: 5rem;
            margin: 1rem auto;
            padding-top: 1.2rem;
            span {
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width:768px) {
  .features-container {
    .current-features {
      .current-features-container {
        .feature-card {
          width: 400px;
          min-width: 200px;
          height: 400px;
          padding-top: 2rem;

          .feature-card-inner {
            .feature-card-front-container {
              .current-feature-icon {
                margin: 0 auto 2rem auto;
              }
            }
          }
        }
      }
    }
    .roadmap-features {
      .roadmap-features-container {
        .roadmap-feature {
          .roadmap-feature-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .roadmap-description {
              width: 70%;
              margin: 0 1rem;
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .features-container {
    margin: 5rem 0;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
