// Both logged and not logged in header
.header-logged-in-container,
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  background-color: #89d99d;
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img {
      height: 84px;
      width: 84px;
    }
    .logo-title-container {
      text-align: left;
      position: relative;
      .logo-title {
        font-size: 2.25rem;
        font-weight: bold;
        font-family: Lobster, Inter, system-ui, Avenir, Helvetica, Arial,
          sans-serif;
        display: block;
        margin-top: -1rem;
      }
      .logo-subtitle {
        font-size: 1rem;
        position: absolute;
        bottom: -1rem;
        left: 1.5rem;
        width: 20rem;
      }
    }
  }
}
// Only not logged in header
.header-container {
  .header-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
    a {
      font-size: 1.25rem;
      color: white;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: 1px;
    }
    .header-actions-login {
      padding: 0.25rem 2rem;
      border-radius: 50px;
      background-color: #1e5959;
      cursor: pointer;
    }
  }
}
// Only logged in header
.header-logged-in-container {
  .header-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    img {
      height: 52px;
      width: 52px;
    }
    .level-container {
      display: flex;
      flex-direction: column;
      .level-title {
        font-size: 1.2rem;
        font-weight: 500;
      }
      meter {
        width: 14vw;
      }
    }
  }
}
