.home-container {
  display: flex;
  flex-direction: column;
  .big-picture-container {
    img {
      width: 100vw;
    }
  }

  .phone-container {
    background-color: #3b8c6e;
    padding: 2rem 0;

    .phone {
      height: auto;
      width: 8rem;
    }

    .app-description-text {
      color: #fff;

      .app-description-text-big {
        font-size: 2.5rem;
        font-weight: 700;
      }
    }

    .app-qr-code {
      margin: 2rem;
      width: 4rem;
    }
  }


  .quote-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 8rem 0;
    background-color: #1e5959;
    margin: 4rem 0;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -2.6rem;
      left: 0;
      right: 0;
      height: 5rem;
      background-image: url("/src/assets/wave_green_full.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: contain;
    }

    .quote-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .quote-text {
        color: #ffffff;
        .quote-quote {
          font-size: 1.5rem;
        }
        .quote-author {
          font-size: 1.25rem;
          font-style: italic;
        }
      }
      .quote-book {
        width: 35%;
        align-self: flex-end;
        padding-right: 10vw;
      }
    }
    .quote-wave {
      fill: #1e5959;
    }
  }
  .feature-container {
    margin-top: 10rem;
    margin-bottom: 4rem;

    .single-feature-container {
      background-color: #c2e5cb;
      border-radius: 4rem;
      margin-bottom: 12rem;
      padding-bottom: 2rem;
      height: 34rem;
      .img-feature {
        border-radius: 20rem;
        width: 16rem;
        margin: -10rem auto 0 auto;

        img {
          border-radius: 20rem;
        }
      }

      .text-feature {
        color: black;
        padding-inline: 2rem;
        padding-top: 2rem;

        .header-feature {
          font-size: 2rem;
          font-weight: 500;
          display: block;
          line-height: 2.8rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-container {
    .feature-container {
      .single-feature-container {
        .img-feature {
          width: 70%;

          img {
            border-radius: 20rem;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width:768px) {
  .home-container {
    .phone-container {
      .phone {
        width: 12rem;
      }

      .app-description-text {
        padding-top: 3rem;
      }
      .app-qr-code {
        width: 6rem;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-container {
    .phone-container {
      .container {
        max-width: 720px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-container {
    .feature-container {
      .single-feature-container {
        height: 28rem;
      }
    }
  }
}
