.home-container {
  display: flex;
  flex-direction: column;
  .big-picture-container {
    img {
      width: 100vw;
    }
  }

  .app-container {
    background-color: #3b8c6e;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block: 3rem;
    padding-inline: 5vw;
    .phone {
      height: 120%;
      z-index: 10;
    }

    .app-description {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 5vh;
      z-index: 1;
      left: 0;

      .app-description-text {
        display: flex;
        flex-direction: column;
        padding-right: 5vw;

        .app-description-text-big {
          font-size: 2.5rem;
          font-weight: 700;
        }
      }

      .app-qr-code {
        width: 20%;
      }
    }
  }

  .quote-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 8rem;
    background-color: #1e5959;
    margin-top: 4rem;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -2.6rem;
      left: 0;
      right: 0;
      height: 5rem;
      background-image: url("/src/assets/wave_green_full.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: contain;
    }

    .quote-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .quote-text {
        .quote-quote {
          font-size: 1.5rem;
        }
        .quote-author {
          font-size: 1.25rem;
          font-style: italic;
        }
      }
      .quote-book {
        width: 35%;
        align-self: flex-end;
        padding-right: 10vw;
      }
    }
    .quote-wave {
      fill: #1e5959;
    }
  }
  .features-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90rem;
    margin: 34vh auto 5vh auto;

    .single-feature-container {
      width: 28rem;
      height: 40rem;
      background-color: #c2e5cb;
      border-radius: 50px;
      margin-inline: 2vh;
      position: relative;

      .img-feature {
        position: absolute;
        width: 25rem;
        top: -10rem;
        left: 1.5rem;
        right: auto;
        border-radius: 20rem;
      }

      .text-feature {
        color: black;
        padding-inline: 2rem;
        margin-top: 18rem;

        .header-feature {
          font-size: 1.8vw;
          font-weight: 500;
          min-height: 8rem;
          display: block;
        }
      }
    }
  }
}
