.home-dashboard-container {
  color: black;

  h2 {
    padding: 1rem 0;
  }

  .menu-left {
    position: fixed;
    left: 0;
    top: 15rem;
    padding: 1rem 0.8rem;
    background-color: #89d99d;
    border-radius: 0 1rem 1rem 0;
    z-index: 9999;

    svg {
      width: 2rem;
      height: 2rem;
      fill: #ffffff;
      margin: 0.4rem 0;
      cursor: pointer;

      transition: fill 100ms ease-in-out;
      &:hover {
        fill: #1e5959;
      }

      &.icon {
        size: 32px;
        padding: 0.2rem 0;
        display: block;
      }
    }

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .home-dashboard-header {
    width: 100vw;
    background-color: #1e5959;
    color: white;
    text-align: left;
    padding-left: 1rem;
    span {
      font-size: 1.2rem;
    }
  }

  .seperator {
    height: 2rem;
    width: 100%;
    background-image: url("/src/assets/wave_green_full.svg");
    background-repeat: repeat-x;
    background-position: center;

    &.is-blue {
      background-image: url("/src/assets/wave_blue_full.svg");
    }
  }

  .news,
  .tours {
    margin: 3rem 0;
    .news-container,
    .tours-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        font-size: 1.5rem;
      }

      .carousel {
        width: 100%;
        height: 20rem;

        .carousel-inner {
          height: 100%;
        }

        .carousel-item {
          border-radius: 15px;
          height: 100%;
          img {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .carousel-caption {
            background-color: rgba(50, 50, 46, 0.8);
            border-radius: 15px;

            h3 {
              font-size: 1.2rem;
            }

            p {
              a {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .continents {
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    margin: 3rem 0;

    .continents-header {
      padding-bottom: 5vh;
      span {
        font-size: 1.5rem;
      }
    }

    .continents-button-container {
      .continents-image {
        margin-bottom: 4rem;
        width: 100%;

        img {
          width: auto;
          height: 16rem;
        }

        button {
          border: none;
          background: none;
          width: 100%;

          :hover {
            cursor: pointer;
          }
        }

        .continents-title {
          font-weight: bold;
          color: #1e5959;
        }
      }
    }
  }
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home-dashboard-container {
    .home-dashboard-header {
      padding: 0.6rem 0 0.6rem 2rem;
      width: 50vw;
    }
    .news,
    .tours,
    .continents {
      margin: 5rem 0;
    }

    .news,
    .tours {
      .news-container,
      .tours-container {
        .carousel {
          height: 30rem;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-dashboard-container {
    .home-dashboard-header {
      width: 30vw;
    }
    .continents {
      width: 80rem;
      margin: 5rem auto;
    }
    .news,
    .tours {
      .news-container,
      .tours-container {
        .carousel {
          height: 38rem;
        }
      }
    }
  }
}

@media (min-width: 1800px) {
  .home-dashboard-container {
    .continents {
      width: 90rem;

      .continents-button-container {
        .north-america,
        .south-america,
        .europe,
        .africa,
        .asia,
        .oceania {
          img {
            height: 22rem;
          }
        }
      }
    }

    .news,
    .tours {
      .news-container,
      .tours-container {
        .carousel {
          height: 44rem;
        }
      }
    }
  }
}
