.login-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #c2e5cb;
  color: #fff;

  a {
    color: #c2e5cb;
  }

  .blob {
    z-index: 1;
    position: absolute;
    transform: rotate(45deg);
    width: 20%;
    height: 50%;
    background: linear-gradient(#224a43, #89d99d);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    &.blob-1 {
      width: 30%;
      height: 60%;
      top: -100px;
      left: 50px;
    }
    &.blob-2 {
      top: -100px;
      right: -50px;
    }
    &.blob-3 {
      left: -70px;
      bottom: -120px;
    }
    &.blob-4 {
      width: 25%;
      height: 55%;
      right: 100px;
      bottom: -120px;
    }
  }

  .login-form-container {
    z-index: 100;
    background-color: #224a43;
    position: relative;
    margin: 4rem 0;

    .login-form-left {
      padding: 3rem 0;
      width: 100%;
      .login-form-left-logo-container {
        margin-block: 1rem;
        p {
          margin: 0;
          color: #fff;
        }
        .login-form-left-logo {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          h2 {
            margin-block: 0;
            color: #89d99d !important;
            font-family: Lobster, Inter, system-ui, Avenir, Helvetica, Arial,
              sans-serif;
            font-size: 3rem;
          }

          img {
            width: 6rem;
          }
        }
      }
      .login-form {
        padding-inline: 15%;
        display: flex;
        flex-direction: column;
        gap: 1ch;
        input {
          padding: 0.8rem 0.5rem;
          border-radius: 5px;
          border: none;
        }
        button {
          margin-top: 1ch;
          padding: 0.8rem 0.5rem;
          border-radius: 5px;
          font-weight: bold;
          background-color: #89d99d;
          color: white;
          border: none;
          cursor: pointer;
        }
        .login-extern-button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1ch;
          margin-top: 1ch;
          padding: 0.8rem 0.5rem;
          border-radius: 5px;
          font-weight: 500;
          background-color: #fff;
          color: #333;
          border: none;
          cursor: pointer;
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        p {
          color: #fff !important;
        }
      }
    }
    .login-form-right {
      padding: 2rem 0.5rem;
      width: 100%;
      background: linear-gradient(#89d99d99, #89d99d99),
        url("@/assets/Login-Image-Asia.jpg") no-repeat;
      background-size: cover;
      height: 100%;
      h1 {
        margin-block: 0 5rem;
        color: #224a43;
        font-family: Lobster, Inter, system-ui, Avenir, Helvetica, Arial,
          sans-serif;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .login-container {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 786px) {
  .login-container {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .login-container {
  overflow: hidden;
    .login-form-container {
      margin-top: 7rem;
      .login-form-right {
        padding-top: 8rem;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
