.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;

  .blob {
    z-index: 1;
    position: absolute;
    top: -100px;
    left: 100px;
    transform: rotate(45deg);
    width: 20%;
    height: 50%;
    background: linear-gradient(#224a43, #89d99d);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation-name: blobChanger;
    animation-duration: 60s;
    animation-iteration-count: infinite;
  }

  @keyframes blobChanger {
    0% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      rotate: 0deg;
      transform: scale(1);
    }
    25% {
      border-radius: 70% 30% 20% 80% / 50% 25% 75% 50%;
      rotate: 20deg;
    }
    50% {
      border-radius: 20% 80% 55% 45% / 70% 25% 75% 30%;
      transform: scale(1.25);
    }
    75% {
      border-radius: 80% 20% 30% 70% / 75% 90% 10% 25%;
      rotate: 10deg;
    }
    100% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      rotate: 0deg;
      transform: scale(1);
    }
  }

  .login-form-container {
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #224a43;
    box-shadow: 0 0 100vw 100vw #00000088;
    width: 50%;
    height: 65%;

    .login-form-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .login-form-left-logo-container {
        margin-block: 1rem;
        p {
          margin: 0;
        }
        .login-form-left-logo {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          h2 {
            margin-block: 1ch;
            color: #89d99d;
          }
        }
      }
      .login-form {
        padding-inline: 15%;
        display: flex;
        flex-direction: column;
        gap: 1ch;
        input {
          padding: 0.8rem 0.5rem;
          border-radius: 5px;
        }
        button {
          margin-top: 1ch;
          padding: 0.8rem 0.5rem;
          border-radius: 5px;
          font-weight: bold;
          background-color: #89d99d;
          color: white;
          border: none;
          cursor: pointer;
        }
      }
    }
    .login-form-right {
      padding: 2rem 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(#89d99d99, #89d99d99),
        url("@/assets/Login-Image-Asia.jpg") no-repeat;
      background-size: cover;
      h1 {
        margin-block: 0 5rem;
        color: #224a43;
      }
    }
  }
}
