.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #c2e5cb;

  .blob {
    z-index: 1;
    position: absolute;
    transform: rotate(45deg);
    width: 20%;
    height: 50%;
    background: linear-gradient(#224a43, #89d99d);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    &.blob-1 {
      width: 30%;
      height: 60%;
      top: -100px;
      left: 50px;
    }
    &.blob-2 {
      top: -100px;
      right: -50px;
    }
    &.blob-3 {
      left: -70px;
      bottom: -120px;
    }
    &.blob-4 {
      width: 25%;
      height: 55%;
      right: 100px;
      bottom: -120px;
    }
  }

  .register-form-container {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #224a43;
    width: 50%;
    height: 65%;

    .register-form-logo-container {
      margin-block: 1rem;
      p {
        margin: 0;
      }
      .register-form-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h2 {
          margin-block: 0;
          color: #89d99d;
          font-family: Lobster, Inter, system-ui, Avenir, Helvetica, Arial,
            sans-serif;
          font-size: 3rem;
        }
      }
    }
    .register-form-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .register-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-inline: 15%;
        gap: 1ch;
        input {
          padding: 0.8rem 0.5rem;
          border-radius: 5px;
          border: none;
        }
        .register-password-info {
          .register-password-info-item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            .register-password-info-item-icon {
              color: #89d99d;
              &.insufficient {
                color: #ef0000;
              }
            }
          }
          p {
            margin-block: 0;
          }
        }
        .register-form-checkbox-container {
          display: flex;
          flex-direction: column;
          .register-form-checkbox {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 1ch;
            align-content: center;
          }
        }
        .register-form-button {
          button {
            width: 100%;
            padding: 0.8rem 0.5rem;
            border-radius: 5px;
            font-weight: bold;
            background-color: #89d99d;
            color: white;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
