.statistics-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #1E5959;
    margin: 4rem 1.6rem;

    .statistics-title {
        font-size: 3.5rem;
        font-weight: 700;
    }

    .statistics-items {

        .statistics-items-container {
            margin: 2rem auto;

            .statistics-friends {
                width: 100%;
                margin: 1rem 0;
                background-color: #1E5959;
                border: 1px solid #1E5959;
                color: white;
                border-radius: 15px;

                .statistics-friends-container {
                    font-size: 1.5rem;
                    font-weight: 600;
                    min-height: 23.2rem;
                    padding: 2rem;

                    table {
                        width: 100%;
                    }

                    tr {
                       &:nth-child(1) {
                        th {
                            &:nth-child(1) {
                                    width: 20%;
                                }
                            
                                &:nth-child(2) {
                                    width: 50%;
                                }
                            
                                &:last-child {
                                    width: 30%;
                                }
                        }
                       }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width:768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .statistics-container {
        .statistics-items {
            .statistics-items-container {
                .statistics-friends {
                    .statistics-friends-container {
                        min-height: 24.2rem;
                    }
                }
            }
        }
    }
}