.user-container{
  color: black;
  margin: 4rem 2rem;

  .user-header {
    margin-bottom: 2rem;
    img {
      width: 120px;
      border-radius: 50%;
      border: 3px solid #1E5959;
    }

    .user-name-status {
      text-align: left;
      color: #1E5959;

      .user-title {
        font-size: 2.4rem;
        font-weight: 800;
        hyphens: auto;
        display: block;
      }

      .user-status {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  .user-statistics-and-friends {

    .user-statistics-and-friends-container {
      .user-statistics {
        .statistic-cards {
        }
      }

      .user-friends {
        background-color: #1E5959;
        border: 1px solid #1E5959;
        color: white;
        border-radius: 15px;
        width: 100%;
        margin: 1rem 0;
        min-height: 23.2rem;

        .user-friends-container {
          color: white;
          padding: 2rem 1rem;

          .friends-title {
            font-size: 2.5rem;
            font-weight: 800;
          }

          .friends-single {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            width: 100%;
            padding-inline: 2vw;

            .friends-profile-picture {
              width: 60px;
              border: 3px solid #1E5959;
              border-radius: 50%;
            }

            .friends-name {
              font-size: 1.5rem;
              font-weight: 700;
              padding-left: 2rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width:768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .user-container {
    .user-statistics-and-friends {
      .user-statistics-and-friends-container {
        .user-friends {
          min-height: 24.2rem;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .user-container {
    width: 80%;
    margin: 4rem auto;
  }
}
